<div class="card">
  <h4 class="card-header">Login</h4>
  <div class="card-body">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="phoneNumber">PhoneNumber</label>
        <input type="number" id="phoneNumber" formControlName="phoneNumber" class="form-control" 
          [ngClass]="{ 'is-invalid': form.get('phoneNumber')?.invalid && form.get('phoneNumber')?.dirty }" />
        <div *ngIf="form.get('phoneNumber')?.invalid && form.get('phoneNumber')?.dirty" class="invalid-feedback">
          <div *ngIf="form.get('phoneNumber')?.hasError('required')">PhoneNumber is required</div>
          <div *ngIf="form.get('phoneNumber')?.hasError('minlength')">PhoneNumber must be at least 9 characters</div>
        </div>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" formControlName="password" class="form-control" 
          [ngClass]="{ 'is-invalid': form.get('password')?.invalid && form.get('password')?.dirty }" />
        <div *ngIf="form.get('password')?.invalid && form.get('password')?.dirty" class="invalid-feedback">
          <div *ngIf="form.get('password')?.hasError('required')">Password is required</div>
          <div *ngIf="form.get('password')?.hasError('minlength')">Password must be at least 6 characters</div>
        </div>
      </div>

      <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary px-4">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Login
        </button>
        <button routerLink="../register" class="btn btn-default ml-3">Register</button>
      </div>
    </form>
  </div>
</div>